# Ignore node_modules directory
node_modules/

# Ignore package files
package-lock.json
package.json

# Ignore perl5 directory
perl5/

# Ignore system files
.DS_Store
.localized
Thumbs.db

# Ignore navi cache files
.local/share/navi/cheats/tldr/
.local/share/navi/cheats/denisidoro__cheats/

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
